extends ../layout

block content
  div(class="d-flex flex-row content justify-content-center mx-auto")
      form(class="card mt-5 w-50" method="post" action="/auth/signin")
        div(class="card-header") Connexion
        div(class="card-body")
          div(class="mb-3")
            label Email
            input(type="email" name="email" class="form-control")
          div(class="mb-3")
            label Password
            input(type="password" name="password" class="form-control")
          if errors 
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          div(class="w-100")
            input(type="submit" value="Connexion" class="btn btn-primary ms-auto d-block")